.container {
  padding: 10px;
}

.keyCell {
  width: 30%;
  font-weight: bold;
  text-align: right;
}

.attributes {
  width: 100%;
}

.attributes td {
  padding: 0.4375rem 0.625rem;
  border-top: 0.0625rem solid #dee2e6;
  font-size: 0.875rem;
}